.checkout-side-menu{
  width: 360px;
  height: calc(100vh - 68px);
  top: 68px;
}

.scrollable-cards {
  overflow: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollable-cards {
  scrollbar-width: auto;
  scrollbar-color: #7D7D7D #ffffff;
}
/* Chrome, Edge, and Safari */
.scrollable-cards::-webkit-scrollbar {
  width: 16px;
}
.scrollable-cards::-webkit-scrollbar-track {
  background: #ffffff;
}
.scrollable-cards::-webkit-scrollbar-thumb {
  background-color: #7D7D7D;
  border-radius: 10px;
  border: 3px solid #000000;
}